<link rel="stylesheet" href="{{ url_for('static', filename='css/components/footer.css') }}">

<footer class="footer">

        <div class="footer-content">

            <img src="{{ url_for('static', filename='images/Logo Principal - Sem Fundo.png') }}"alt="IFSports">

            <p>
                © 2026 IFSports • Instituto Federal do Rio Grande do Norte
            </p>

            <span>
                Desenvolvido por alunos do IFRN Campus Caicó.
            </span>

        </div>

</footer>