* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'; font-size: 16px;
}

:root {
    --verde-principal: #1b5e20;
    --verde-secundario: #7ed957;
    --verde-hover: #66bb6a;
    --fundo-claro: #f2f2f2;
}

html, body {
    height: 100%;
    background-color: var(--fundo-claro)
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #164b1d;  
    border-bottom: 3px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 1;

}

.nav-logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: auto;
    height: 100%;
}

.nav-links {
    display: flex;
    width: 80%;
    height: 100%;
    gap: 10%;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}

.nav-links a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;                 
    height: 2px;              
    background-color: rgb(255, 255, 255);  
    transition: width 0.4s ease; 
}

.nav-links a:hover::after {
    width: 100%;             
}

.nav-auth {
    padding: 0 15px;
    width: 80px;
    height: 30px;
    text-decoration: none;
    border: none;   
    cursor: pointer;

}
button.nav-auth {
    background: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.nav-links form.d-inline {
    display: flex;              
    align-items: center;
    height: 100%;
}

.nav-links a.nav-auth {
    display: flex; 
    align-items: center;       
    justify-content: center;    
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: normal; 
    cursor: pointer;
}

main {
    margin-top: 10vh;
}


.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}